<!DOCTYPE html>
<html>
    <style>

    body {
		background: #f4f4f4;
        }
    body {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 17pt;
		font-weight: 200;
        line-height: 1.65;    }
        @media screen and (max-width: 1680px) {
            body, input, select, textarea {
                font-size: 13pt;
            }
        }
    body { text-align: center; }
    
    
        </style>
<html>
    <head>
        <title>Todo list</title>
    </head>

    <body>
        <h1><button type="button" onclick="location.href='http://127.0.0.1:8000/todos' ">나의 첫 Todo site</button></h1>
        
        <p></p>
    </body>
</html>
